section.content__container-cabin.cabin
  .cabin__wrapper
    .cabin__alignment
      h2.cabin__headeing.line--top Chill & Escape in Mountainview Cabin
      .cabin__text
        img.cabin__image(src="img/welcome_image-300x199.jpg" alt="welcome" width="300" height="199")
        .cabin__text-right
          p.cabin__text-item Our cabin is nestled in beautifully wooded lot and its natural setting. The incredible views of the mountains and the lake will leave you awe-struck.
          p.cabin__text-item You can kayak, jet ski or enjoy the beautiful sunrise and sunsets since yard faces south. There is nearby shopping, groceries, different tours and many amazing family fun spots.
      p.cabin__text-item.cabin__text-item--clear The house has great fishing for brown bullhead, chain pickerel, large mouth bass, small mouth bass, pumpkin seed, walleye and yellow perch. In the winter enjoy ice skating and go to Mountainview for fun festive events. For a peaceful mountain journey to Cades Cove filled with history and wildlife.