section.content__gallery.overview-rules-content
  .overview-rules-content__wrapper
    .overview-rules-content__alignment
      .overview-rules__overview
        h2.overview-rules__heading Overview
        p.overview-rules__item Located on the shores of Lake George, Mountainview cabin is walkable to popular hiking trails, open-space museums and cafes.
        p.overview-rules__item The condo sleeps up to 20 persons and features a full kitchen and dining area, free WiFi and cable, hardwood floors and one bathroom with tub and shower.
        p.overview-rules__item Relax outside on the spacious balcony and take in the fresh mountain air and Holla lift with golf course views. Bedding includes a king in the master, queen in the second bedroom.
      .overview-rules__rules
        h2.overview-rules__heading House Rules
        p.overview-rules__item This house is on a lake so the alert supervision of children is required. Pets are allowed in the property. Free parking area is available. No fires permitted. Furniture rearrangement is not allowed as this can damage the floor.
        ul.overview-rules__list
          li.overview-rules__list-item Check in: 3:00 pm
          li.overview-rules__list-item Check out: 11:00 am
          li.overview-rules__list-item Kid friendly
          li.overview-rules__list-item Ask about pets
          li.overview-rules__list-item Smoking not allowed