header.page__header.header
  .header__wrapper
    include label/label
    .header__aligment
      .header__wrapper-social-menu
        include social/social
        include menu/menu
  img.header__image(src="img/header-house.jpg", alt="house" width="1516" heigh="528")

