.label {
  background-color: $green;
  padding: 28px;
  text-align: center;
}

.label__logo {
  display: block;
  margin-bottom: 6px;
}

.label__text {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: left;
}

.label__link {
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  color: #fff;
}

.label__description {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 11px;
  color: #fff;
}

@media (min-width: 358px) {
  .label {
    padding: 30px 28px 31px;
  }

  .label__logo {
    display: inline-block;
    margin-right: 22px;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .label__text {
    vertical-align: middle;
  }
}

@media (min-width: 992px) {
  .label {
    box-sizing: border-box;
    width: 32%;
    padding: 30px 28px 31px;
  }
}

