section.secondary__weather.weather
  h3.weather__main-heading Weather Forecast
  a.weather__common-link(href="#")
    h4.weather__heading LAKE GEORGE <span>WEATHER</span>
    ul.weather__days-weather
      li.wether__item
        p.weather__day.weather__day--not-full Sat
        p.weather__day.weather__day--full Saturday
        .weather__svg-wrapper
          include animation/sun
        .weather__deg-wrapper
          p.weather__deg 22°C
          p.weather__deg 11°C
      li.wether__item
        p.weather__day.weather__day--not-full Sun
        p.weather__day.weather__day--full Sanday
        .weather__svg-wrapper
          include animation/sun-cloud
        .weather__deg-wrapper
          p.weather__deg 23°C
          p.weather__deg 11°C
      li.wether__item
        p.weather__day.weather__day--not-full Mon
        p.weather__day.weather__day--full Monday
        .weather__svg-wrapper
          include animation/sun
        .weather__deg-wrapper
          p.weather__deg 17°C
          p.weather__deg 8°C
      li.wether__item
        p.weather__day.weather__day--not-full Tue
        p.weather__day.weather__day--full Tuesday
        .weather__svg-wrapper
          include animation/rain-cloud
        .weather__deg-wrapper
          p.weather__deg 17°C
          p.weather__deg 8°C
      li.wether__item
        p.weather__day.weather__day--not-full Wed
        p.weather__day.weather__day--full Wednesday
        .weather__svg-wrapper
          include animation/sun-cloud
        .weather__deg-wrapper
          p.weather__deg 17°C
          p.weather__deg 8°C
      li.wether__item.wether__item--show
        p.weather__day.weather__day--not-full Thu
        p.weather__day.weather__day--full Thursday
        .weather__svg-wrapper
          include animation/rain-cloud
        .weather__deg-wrapper
          p.weather__deg 17°C
          p.weather__deg 8°C
      li.wether__item.wether__item--show
        p.weather__day.weather__day--not-full Fry
        p.weather__day.weather__day--full Fryday
        .weather__svg-wrapper
          include animation/rain-cloud
        .weather__deg-wrapper
          p.weather__deg 17°C
          p.weather__deg 8°C


