.header__menu.menu
  nav.menu__navigation
    input.menu__show(type="checkbox" id="menu")
    .menu__phone
      label.menu__label(for="menu")
        i.menu__icon
        | menu
    .menu__desctop
      include list/list