.header__social.social
  p.social__location
    a.social__location-link(href="#") Lake George District, Adirondack, NY, USA
  p.social__icon
    a(href="#").fab.fa-facebook-f.social__icon-link
    a(href="#").fab.fa-instagram.social__icon-link
    a(href="#").fab.fa-twitter.social__icon-link
    a(href="#").fab.fa-youtube.social__icon-link