section.content__gallery.gallery-content
  .gallery-content__wrapper
    .gallery-content__alignment
      .gallery-content__item
        a.gallery-content__link-img(href="#")
          img.gallery-content-img(src="img/rooms.jpg" alt="rooms" width="800" height="531")
        a.gallery-content__link-label(href="@") Rooms
      .gallery-content__item
        a.gallery-content__link-img(href="#")
          img.gallery-content-img(src="img/activity.jpg" alt="activities" width="800" height="531")
        a.gallery-content__link-label(href="#") Activities
      .gallery-content__item
        a.gallery-content__link-img(href="#")
          img.gallery-content-img(src="img/gallery.jpg" alt="gallery" width="800" height="531")
        a.gallery-content__link-label(href="#") Gallery