.header__label.label
    a.label__logo(href="#")
      img(src="img/logo.svg", alt="#")
    p.label__text
      a.label__link(href="#") Mountainview
      span.label__description Vacation Rental WordPress Theme