section.content__container-reviews.reviews
  .reviews__wrapper
    .reviews__alignment
      p.reviews__text “Great spot right on a gorgeous lake, 15 minutes from Lake George, 30 minutes from Saratoga Springs and less then 5 from the outlets, the rooms are great and everything was amazing. Would totally recommend it!”
      a(href="#").reviews__name ― 
        span Byron Banks
      .reviews__photo-wrapper
        a.reviews__photo-link(href="#")
          img.reviews__photo(src="img/photo.jpg" alt="#" width="150" height="150")
      .reviews__arrows
        a.reviews__arrows-left(href="#")
        a.reviews__arrows-right(href="#")