section.gallery
  h3.gallery__heading Gallery
  .gallery__all-img
    .gallery__img-container
      a.gallery__img-link(href="#")
        img.gallery__img-item(src="img/gallery_01-800.jpg", alt="gallery" width="150" height="150")
      a.gallery__img-link(href="#")
        img.gallery__img-item(src="img/gallery_02-150.jpg", alt="gallery" width="150" height="150")
      a.gallery__img-link(href="#")
        img.gallery__img-item(src="img/gallery_03-150.jpg", alt="gallery" width="150" height="150")
    .gallery__img-container
      a.gallery__img-link(href="#")
        img.gallery__img-item(src="img/gallery_04-150.jpg", alt="gallery" width="150" height="150")
      a.gallery__img-link(href="#")
        img.gallery__img-item(src="img/gallery_05-150.jpg", alt="gallery" width="150" height="150")
      a.gallery__img-link(href="#")
        img.gallery__img-item(src="img/gallery_06-150.jpg", alt="gallery" width="150" height="150")