.footer {
  background: #292929;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 80px 20px;
}

.footer__list-item {
  padding: 40px 24px;
}

.footer__link-list {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.footer__link-list-item:not(:first-child) {
  margin-top: 14px;
}

.footer__heading {
  @include line-top-footer(16px);
}

.footer__link {
  @include footer-text(#7db900, left);

  &:hover {
    text-decoration: none;
  }
}

.footer__additional-Information {
  padding: 0 20px;
}

.footer__additional-Information-container {
  border-top: 1px solid #3d3d3d;
  padding: 40px 0;
}

.footer__additional-Information-wrapper {
  text-align: center;
  box-sizing: border-box;
  padding: 2px 0;
  margin: 0 0 8px 0;
}

.footer__additional-Information-text {
  @include footer-text(#fff, center);
  margin: 0 0 32px 0;
}

.footer__additional-Information-link {
  @include footer-text(#7db900, center);

  &:hover {
    text-decoration: none;
  }
}

@media (min-width: 992px) {
  .footer__list {
    padding: 80px 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer__list-item {
    width: 25%;
    padding: 0;

    &:not(:last-child) {
      padding-right: 10px;
    }

    &:not(:first-child) {
      padding-left: 10px;
    }
  }
  .footer__additional-Information {
    padding: 0 60px;
  }  

  .footer__additional-Information-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer__additional-Information-text {
    margin: 0;
  }
  .footer__additional-Information-wrapper{
    margin: 0;
  }
}