.form__date-popup.date-popup
  .date-popup__nav
    a.date-popup__nav-item.date-popup__nav-item--arrow-left(href="#")
    a.date-popup__nav-item(href="#") Today
    a.date-popup__nav-item.date-popup__nav-item--arrow-right(href="#")