.date-popup {
  position: absolute;
  left: -4px;
  top: 121px;
  width: calc(100% + 8px);
  box-shadow: 0 4px 8px rgba(51, 51, 51, .15);
}

.date-popup__nav-day {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #292929;
}

.date-popup__nav-item {
  font-family: 'Lora', sans-serif;
  font-size: 14.4px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  padding: 11px;
  flex-grow: 1;
  text-align: center;
  position: relative;
}

.date-popup__nav-item--arrow-left::before {
  content: "";
  position: absolute;
  left: 14.4px;
  top: calc(50% - 6px);
  border: 6px solid #909090;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 3px;
}

.date-popup__nav-item--arrow-right::before {
  content: "";
  position: absolute;
  right: 14.4px;
  top: calc(50% - 6px);
  border: 6px solid #909090;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 3px;
}

.date-popup__nav-month-year {
  background: #f6f6f6;
  height: 40px;
  display: flex;
  justify-content: center;
}

.date-popup__item {
  border: none;
  outline: none;
  appearance: none;
  background: #f6f6f6;
  padding-right: 24.5px;
  font-family: 'Lora', sans-serif;
  font-size: 14.4px;
  font-weight: 400;
  color: #484848;
  background-image: url('../img/dropdown_passive.svg');
  background-repeat: no-repeat;
  background-position: 90% center;

  &:focus {
    background-image: url('../img/dropdown_hover.svg');
  }
}

.date-popup__calendar {
  background-color: #fff;
}

.date-popup__table-today {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-family: 'Lora', sans-serif;
  font-size: 14.4px;
  line-height: 25.2px;
  text-align: center;
}

th {
  font-family: 'Lora', sans-serif;
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
  color: gray;
  text-align: center;
  padding: 6px 0;

}

td {
  height: 24px;
  line-height: 15px;
  border: none;
}

.date-popup__next-month {
  background: #f6f6f6;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lora', sans-serif;
  font-size: 14.4px;
  font-weight: 400;
  color: #484848;
}